* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 80px;
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    margin: 60px 0; /* 80px top and bottom, 0 left and right */
    text-align: center;
}

header > img {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 100%;
}

nav {
    background-color: #333333;
    padding: 15px 0;
    color: #fff;
    border-radius: 24px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

section { 
    display: flex; 
}

article {
    flex: 1;
}

.banner {
    margin: 40px 0;
    margin-bottom: 20px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: 0 67%;
    color: #fff;
    border-radius: 24px;
}

.banner-text {
    max-width: 75%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2e6d8; /* Set your desired background color */
    border-radius: 15px; /* Adjust the border-radius as needed */
    padding: 20px; /* Adjust the padding as needed */
    margin: 10px; /* Adjust the margin as needed to create spacing between cards */
}

.card img {
    width: 250px; /* Set the width of the images to 200px */
    height: 250px;
    object-fit: cover;
}

.card p {
    padding-top: 20px;
    margin-top: auto; /* Move the text to the bottom of the card */
}

